@import "tailwindcss";

@layer base{
    body, html, #root{
        @apply h-full
    }
}

@layer components{
    .body{
        width: min(100% - 4rem, 60rem);
        margin-inline: auto;
        padding-block: 2rem;
    }
}